* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Public Sans", serif;
}

:root {
  --body: #007bff;
  --start-btn: #007bff;
  --start-btn-bg: #e8e9ed;
  --quiz-bg: #e8e9ed;
  --quiz-text: #111528;
  --line: #d3d3d3;
  --span: #007bff;

  --btn-one: #007bff;
  --btn-two: #e8e9ed;
  --btn-three: #001c3a;
  --btn-four: #007bff;
  --btn-five: #e8e9ed;
  --btn-six: #007bff;
  --btn-border: #007bff;

  --quiz-box: #e8e9ed;
  --result-bg: #e8e9ed;
  --white: #fff;
  --purple: #a0a2ff;

  --tick: #00b800;
  --correct: #ceffce;
  --red: #a00000;
  --incorrect: #ffabab;
}

.darkmode {
  --body: #001c3a;
  --start-btn: #001c3a;
  --start-btn-bg: #007bff;
  --quiz-bg: #007bff;
  --quiz-text: #111528;
  --line: #111528;
  --span: #e8e9ed;

  --btn-one: #001c3a;
  --btn-two: #e8e9ed;
  --btn-three: #007bff;
  --btn-four: #007bff;
  --btn-five: #001c3a;
  --btn-six: #007bff;
  --btn-border: #001c3a;

  --quiz-box: #e8e9ed;
  --result-bg: #e8e9ed;
  --white: #fff;
  --purple: #a0a2ff;

  --tick: #00b800;
  --correct: #ceffce;
  --red: #a00000;
  --incorrect: #ffabab;
}

#theme-switch {
  height: 50px;
  width: 50px;
  padding: 0;
  border-radius: 50%;
  background-color: var(--quiz-box);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 2rem;
  right: 2rem;
  outline: none;
  border: none;
}

#theme-switch svg:last-child {
  display: none;
  outline: none;
  border: none;
}

.darkmode #theme-switch svg:first-child {
  display: none;
}

.darkmode #theme-switch svg:last-child {
  display: block;
}

#theme-switch svg {
  fill: var(--body);
}

body {
  background-color: var(--body);
  color: var(--quiz-text);
}

.start_btn,
.info_box,
.quiz_box,
.result_box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2),
    0px 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all 0.3s ease;
}

.info_box.activeInfo,
.quiz_box.activeQuiz,
.result_box.activeResult {
  z-index: 5;
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}

.start_btn button {
  font-size: 25px;
  font-weight: 500;
  background-color: var(--start-btn-bg);
  padding: 15px 30px;
  outline: none;
  border: none;
  border-radius: 5px;
  border-radius: 5px;
  color: var(--start-btn);
  /* background: #fff; */
  cursor: pointer;
}

.start_btn button:hover {
  background-color: var(--start-btn);
  color: var(--start-btn-bg);
  border: 2px solid var(--start-btn-bg);
}

.info_box {
  /* display: none; */
  width: min(90%, 30rem);
  /* width: 90%; */
  background-color: var(--quiz-bg);
  border-radius: 5px;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0.9);
}

.info_box .info_title {
  height: 60px;
  width: 100%;
  border-bottom: 1px solid var(--line);
  display: flex;
  align-items: center;
  padding: 0 35px;
  font-size: 20px;
  font-weight: 600;
}

.info_box .info_list {
  padding: 15px 35px;
}

.info_box .info_list .info {
  margin: 5px 0;
  font-size: 17px;
}

.info_box .info_list .info span {
  font-weight: 600;
  color: var(--span);
}

.info_box .buttons {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 35px;
  border-top: 1px solid var(--line);
}

.info_box .buttons button {
  margin: 0 auto;
  height: 40px;
  /* width: 100px; */
  padding-inline: 2rem;
  outline: none;
  border: 1px solid var(--btn-border);
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  color: var(--quiz-box);
  border-radius: 5px;
}

.buttons button.restart {
  color: var(--btn-two);
  background-color: var(--btn-one);
}

.buttons button.restart:hover {
  background-color: var(--btn-three);
}

.buttons button.quit {
  color: var(--btn-four);
}

.buttons button.quit:hover {
  color: var(--btn-five);
  background-color: var(--btn-six);
}

.quiz_box {
  /* display: none; */
  width: min(90%, 30rem);
  background-color: var(--quiz-box);
  border-radius: 5px;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0.9);
}

.quiz_box header {
  position: relative;
  z-index: 99;
  height: 70px;
  padding: 0 30px;
  background-color: var(--quiz-box);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px 5px 0 0;
  box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.1);
}

.quiz_box header .title {
  font-size: 20px;
  font-weight: 600;
}

.quiz_box header .timer {
  /* position: absolute; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 145px;
  height: 45px;
  background-color: var(--purple);
  border: 1px solid var(--quiz-box);
  padding: 0 8px;
  border-radius: 5px;
}

.quiz_box header .timer .timer_text {
  font-weight: 400;
  font-size: 17px;
  user-select: none;
  /* background-color: red; */
}

.quiz_box header .timer .timer_sec {
  font-size: 18px;
  font-weight: 500;
  background: var(--btn-three);
  height: 30px;
  width: 45px;
  color: var(--quiz-box);
  text-align: center;
  line-height: 30px;
  border-radius: 5px;
  border: 1px solid #343a40;
  user-select: none;
}

.quiz_box header .time_line {
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 3px;
  width: 0; /* Start at 0 */
  background-color: var(--body);
  transition: width 0.1s ease; /* Smooth transition */
}
.quiz_box section {
  padding: 25px 30px 20px 30px;
  background: var(--quiz-box);
}

.quiz_box section .que_text {
  font-size: 25px;
  font-weight: 600;
}

.quiz_box section .option_list {
  padding: 20px 0;
  display: block;
}

.option {
  background-color: var(--white);
  border: 1px solid var(--body);
  padding: 8px 15px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 5px;
  /* background-color: red; */
}

.quiz_box section .option_list .option:hover {
  color: var(--btn-five);
  background-color: var(--btn-three);
  border-color: var(--btn-two);
}

.quiz_box section .option_list .option:last-child {
  margin-bottom: 0px;
}

.option_list .option .icon {
  /* height: 30px; */
  /* width: 30px; */
  border: 2px solid transparent;
  border-radius: 50%;
}

.option_list .option .icon .tick {
  background-color: var(--correct);
}

.icon svg {
  /* display: none; */
  padding: 1px;
  border-radius: 50%;
  text-align: center;
  font-size: 13px;
  line-height: 24px;
  pointer-events: none;
}

.tick svg {
  border: 2px solid var(--tick);
  fill: var(--tick);
  background-color: var(--correct);
}

.cross svg {
  border: 2px solid var(--red);
  fill: var(--red);
  background-color: var(--incorrect);
}

.quiz_box footer {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}

.quiz_box footer .total_que span {
  display: flex;
  user-select: none;
}

footer .total_que span p {
  font-weight: 500;
  padding: 0 5px;
}

footer .total_que span p:first-child {
  padding-left: 0;
}

footer .next_btn {
  display: none;
  height: 40px;
  padding: 0 13px;
  font-size: 18px;
  font-weight: 400;
  border: none;
  outline: none;
  background-color: var(--btn-one);
  color: var(--quiz-box);
  border: 1px solid var(--btn-one);
  cursor: pointer;
  border-radius: 5px;
}

footer .next_btn:hover {
  background-color: var(--btn-three);
}

.result_box {
  background-color: var(--result-bg);
  width: 450px;
  padding: 25px 30px;
  border-radius: 5px;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0.9);
}

.result_box .icon svg {
  height: 50%;
  width: 50%;
  /* display: none; */
  fill: var(--body);
  margin-bottom: 10px;
}

.result_box .complete_text {
  font-size: 20px;
  font-weight: 500;
}

.result_box .score_text span {
  display: flex;
  margin: 10px 0;
  font-size: 18px;
  font-weight: 500;
}

.score_text span p {
  font-weight: 500;
  padding: 0 4px;
}

.result_box .buttons {
  display: flex;
  margin: 20px 0;
}

.result_box .buttons button {
  margin: 0 10px;
  height: 40px;
  padding: 0 20px;
  outline: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  border: 1px solid var(--body);
  cursor: pointer;
  transition: all 0.3s ease;
}

.correct {
  border: 2px solid var(--tick);
  color: var(--quiz-text);
  /* background-color: var(--green); */
  background-color: var(--correct);
  /* background-color: red; */
}

.incorrect {
  border: 2px solid var(--red);
  color: var(--quiz-text);
  /* background-color: var(--green); */
  background-color: var(--incorrect);
  /* background-color: red; */
}

.option_list .option .disabled {
  pointer-events: none;
}

.option.disabled {
  pointer-events: none;
  /* opacity: 0.5; */
  cursor: not-allowed;
}

.score_text span p {
  color: var(--red);
}
